.nav-bar {
    background: #959090;
    color: white;
    display: flex;
    position: fixed;
    overflow: hidden;
    top: 0;
    width: 100vw;
    
    }
    
    img {
        width: 125px;         
        height: 125px;
        border-radius: 50%;
        flex-direction: column;
        margin-top: 20px;
        margin-right:450px;
        }
    .allCircles {
        display:flex;
        
    }
    .circleBase {
            border-radius: 50%;
            Margin: 25px;
            margin-top: 20px;
            text-align: center;
            font-size: 20px;
            line-height: 120px;
            width: 125px;
            height: 125px;
            background: #0d8d62;
            border: 1px solid #000;
          }
  .teamleden-circle2 { background-color: #000;

  }