* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {
  height: 100vh;
  background: #EFEFE9;
  padding-top:100px;

}
body header{
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  color: #223030;
  text-align: center;
  margin-top: 45px;
}
/*start nav bar*/
 nav{
  position: fixed;
 }
.nav-bar {
   font-family: "Poppins", sans-serif;
  background: #223030;
  color: #223030; /* Change text color to white */
  display: flex;
  justify-content: space-between; /* To align logo and circles at the ends */
  align-items: center; /* To vertically center everything */
  position: fixed; /* Change this from absolute to fixed */
  top: 0; /* Stick it at the top of the viewport */
  left: 0;
  right: 0;
  width: 100%; /* Make it full width */
  z-index: 1000; /* Adjust the z-index value as needed */
}


.nav-bar img {
  width: 125px;
  height: 125px;
  border-radius: 50%;
}

.nav-bar a { 
  color: inherit; 
  text-decoration: none;
} 
.allCircles {
  display: flex;
  align-items: center; /* Vertically center the circles */
  gap: 20px; /* Add spacing between circles */
}

.circleBase {
  border-radius: 50%;
  font-size: 18px;
  width: 125px;
  height: 125px;
  background: #EFEFE9;
  border: 1px solid #E8D9CD;
  display: flex;
  flex-direction: column;
  align-items: center; /* Center text horizontally */
  justify-content: center; /* Center text vertically */
  position: relative; /* Add relative positioning for .teamleden */
}
  /*this shows the circles in mobile*/
  @media screen and (max-width:768px) {
  
    img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
    }
    
    .allCircles {
      gap: 2px;
    }
    .circleBase { width: 50px;
      height: 50px;
      font-size: 7px;
    }
  
    .teamleden {font-size: 7px;
  
    }
  }
/*teamleden displayen als je hovert*/

.teamleden {
  display: none;
  text-align: center;
  font-size: 12px;
  position: absolute;
  left: 0;
  right: 0;
}

p:hover + .teamleden{
    display: block;

}

.allCircles p:hover{
  display:none;
  
}
/*END style navbar*/

/*start style latoya carousel*/

/* Hide the images by default */
.pixelcrafters {
  display: flex;
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */
  height: 100vh;
}

.wrapper {
  /* Remove display: inline-block; */
  width: 70vw;
  height: 600px;
  position: relative; /* Change from absolute to relative */
  margin: 0 auto;
  overflow: hidden;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}


/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: #223030;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
/* Position the "prev button" to the right */
.prev{
  left:0;
}
/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  background-color: #223030;
  border-radius: 50%;
  display: flex;
  top: 0;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #959d90;
}

.pixelcrafters .slidedot{
  justify-content: center;
  text-align: center;
  line-height: 9rem;
  padding: 15px;

}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.before,
.after {
  width:100%;
  height:100%;
  background-repeat:no-repeat;
  background-color: white;
  background-size: cover;
  background-position: center;
  position: absolute;
  top:0;
  left:0;
  pointer-events:none;
  overflow: hidden;
}

.profilepic{
  height:100%;
}

.after{
  width:125px;
}

/* this is the style for the scroller.*/
.scroller {
  width: 50px;
  height: 50px;
  position: absolute;
  left: 100px; /* Adjust the position as needed */
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
  background-color: transparent;
  opacity: 0.9;
  pointer-events: auto;
  cursor: pointer;
  z-index: 1; /* Ensure the scroller is above the slides */
  border: 5px solid #000;
}

/* Adds styles for the scroller thumb*/
.scroller__thumb {
  width: 100%;
  height: 100%;
  padding: 5px;
}
.scroller:hover{
  opacity:1;
}

.scrolling{
  pointer-events:none;
  opacity:1;
  z-index: 1;
}
.scroller:before,
.scroller:after{
  content:" ";
  display: block;
  width: 7px;
  height: 9999px;
  position: absolute;
  left: 50%;
  margin-left: -3.5px;
  z-index: 30;
  transition:0.1s;
  background: #000;
}
.scroller:before{
  top:100%;
}
.scroller:after{
  bottom:100%;
}
.buttontogithub{
  width: 220px;
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  background: #223030;
  cursor: pointer;
  border-radius: 10px;
  position: absolute;
  bottom: -80px;
  right: 300px; 
  z-index: 0;
}

.buttontogithub:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.buttontogithub:active {
  color: #223030;
}

.buttontogithub:active:after {
  background: transparent;
}

.buttontogithub:hover:before {
  opacity: 1;
}

.buttontogithub:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #223030;
  left: 0;
  top: 0;
  border-radius: 10px;
}
@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}


/*Here I make sure that my business card itself has rounded corners.
I also have a shadow behind the business card to bring it out a bit
With transition I ensure that the card takes 1.5 seconds to flip
Transform style preserve 3D ensures that the card is positioned in the 3D space
and does not come flat*/
.about-cardla {
  width: 50vw;
  height: 43vh;
  margin: 6em auto 0;
  background: #fff;
  border-radius: 2em;
  box-shadow: 0 0 20px 20px rgba(47, 103, 41, 0.1);
  -webkit-transition: -webkit-transform 1.5s;
  transition: transform 1.5s;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  font-family: "Poppins", sans-serif;
}

/*The absolute position ensures that the position remains absolute/ the same*/
.cardla-front {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  position: absolute;
}

/*With backround I ensure that my image is used as a background.
With display flex I ensure that the elements remain in one line
With justify content I ensure that the flex items lines at the right end*/
.cardla-front {
  background-image: url("https://i.ibb.co/tb5BnBF/backgroundswirls.jpg");
  background-size: cover;
  background-position: center;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-right: 40px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: #fff;
}
.cardla-front h1 {
  font-weight: 400;
  font-size: 1rem;
}
.cardla-front p {
  font-size: 0.7em;
}
.cardla-front .cardla-info {
  padding: 0em 0em 1em 1em;
  border-bottom-right-radius: 25px;
  background-color: #004526;
}
/*Here I ensure that my list items do not have icons in front of the text and are on 1 line*/
.cardla-front ul {
  list-style: none;
  display: flex;
  padding: 5px;
}

.cardla-front li {
  padding-left: 5px;
  padding-right: 5px;
}
.cardla-front li i {
  padding-right: 15px;
}
/* Responsive style for mobile (S) screens */
@media (max-width: 900px) {
  .about-cardla {
    width: 100%; 
    height: 50vh; 
  }

  .cardla-front {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 0.8rem;
  }

  .cardla-front h1 {
    font-size: 1rem; 
  }
  .cardla-front .cardla-info {
    padding-bottom: 4rem;
    padding-top: 2rem;
  }

  .cardla-front ul {
    flex-direction: column;
  }
}
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  width: 50vw;
  max-width: 25em;
  min-width: 20em;
/* From https://css.glass */
background: rgba(238, 238, 210, 0.39);

box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(10.8px);
-webkit-backdrop-filter: blur(10.8px);
border: 1px solid rgba(238, 238, 210, 0.12);
}

.tessa {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: flex-end;
}

.tessa h1 {
  margin: 2rem 0 1rem;
  color: #000000;
}


.card img {
  position: relative;
  top: 2rem;
  width: 120px;
  height: 200px;
  transition: .25s .15s;
}


dt {
  margin-top: .25rem;
  padding-top: .25rem;
  border-top: 1px solid rgba(0,0,0,0.3);
  font-weight: bold;
}
dt:nth-of-type(1) {
  grid-area: html-dt;
}
dt:nth-of-type(2) {
  grid-area: css-dt;
  transform: translateY(1rem);
}
dt:nth-of-type(3) {
  grid-area: js-dt;
}

dd {
  margin: 0;
  padding-left: .3rem;
  transition: .25s .3s;
}
dd:nth-of-type(2){  
  transform: translateY(1rem);
}

.card p { 
  margin: 0;
}

.card > p {
  width: 100%;
  margin-top: 0;
  padding: 3rem 2rem;
  text-align: center;
  background: #eeeed2;
}


.belkacem {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  width: 50vw;
  max-width: 25em;
  min-width: 20em;
  border-radius: 1rem;
  background: rgb(0,239,255);
  background: linear-gradient(0deg, rgba(0,239,255,1) 40%, #4e54c8 100%);
  box-shadow: 0 0 20px 20px rgba(0,0,0,.1);
  transition: .25s;
}

.belkacem header {
  text-align: left;
  margin-left: 10px;
  font-size: 1rem;
  
}
.belkacem h2{
  color: rgb(9, 255, 0);
  margin-left: 30px;
  font-family: open sans;
  color: #10214e;
  font-size: 1rem;
  
}

.belkacem h3 {
  
  color: rgb(9, 255, 0);

}

.belkacem img {
  position: relative;
  top: -2rem;
  right: -7rem;
  width: 10em;
  height: auto;
  border: 2px solid #fff;
  border-radius: 10em;
  box-shadow: 0 0 2px 2px rgba(0,0,0,.2);
  transition: .25s .15s;
}
.belkacem p { 
  margin: 0;
}

.belkacem > p {
  width: 100%;
  margin-top: 0;
  padding: 3rem 2rem;
  border-radius: 0 0 1rem 1rem;
  background: rgba(255,255,255, 0.5);
}

.profilecards{
  width: 100%;
  min-height: 100vh;
}


@media (min-width: 900px) {
  .before {
    display: block;
  }
  .profilepic {
    display: block;
    margin: 0 auto; /* Center the image horizontally */
  }
}
.slider-wrapper {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  overflow-x: auto;
}
.slider {
  display: flex;
  aspect-ratio: 16 / 9;
  overflow: hidden;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  border-radius: 0.5rem;
  overflow: hidden; /* Hide overflowing content within the slide */
}
.slider-nav {
  display: flex;
  column-gap: 1rem; /* Space between dots */
  justify-content: center; 
  z-index: 1; /* Appear above other content */
}
.slider-nav a {
  width: 1rem;
  height: 1rem;
  border-radius: 50%; 
  background-color: #223030; 
  opacity: 0.75; 
  transition: opacity ease 250ms; 
}
/* Increase opacity when hovering over navigation dots */
.slider-nav a:hover {
  opacity: 1;
}
/* Styling for individual slides within the slider */
.slide {
  position: relative; /* Relative position for content within slides */
  flex: 0 0 100%; /* Make each slide take up the full width */
  min-width: 100%;
  height: 100%; 
  scroll-snap-align: start; /* Snap to the start of each slide */
  padding: 5rem; 
}
.slide img {
  width: 100%;
  height: 100%;
  object-fit: contain; /* Ensure the entire image fits within the container */
}

/* Show only the active slide */
.slide.active {
  visibility: visible; 
  opacity: 1; 
}

/*END style latoya carousel*/

/*Start tessa carousel*/
.carousel-container {
  width: 100%;
  perspective: 1000px;
  overflow: hidden;
  display: inline-flex;
  justify-content: center;
}

.carousel {
  display: flex;
  transition: transform 0.5s;
  
}

.carousel-slide {
  flex: 1;
  min-width: 100%;
  transform-style: preserve-3d;
  transform: translateZ(-200px);
  transition: transform 0.5s;
  color: #223030;
  margin-left: 10px;
  margin-right: 10px;

}

.carousel-slide img{
  max-width: 50%;
  height: auto;
  margin-left: 150px;
  align-self: center;
  background-color: inherit;
 
}

.carousel-slide h1{
  text-align: center;
  background-color: inherit;
  font-size: 7vw;

}

.carousel-slide:nth-child(odd) {
  background-color: #959090;
  border-radius: 25px;
}

.carousel-slide:nth-child(even) {
  background-color: #959090;
  border-radius: 25px;
}

.carousel-slide.active {
  transform: translateZ(0);
}

/*Here we can modify the button(s) to our liking*/
/*by selecting both buttons we don't have to copy and paste the same exact code from one button onto another
and instead work on both at the same time*/
.prev-button,
.next-button {
  margin-top: 10px;
  align-items: center;
}

/* Responsive styles for smaller screens */

@media screen and (max-width: 768px) {
  .carousel-slide h1 {
    font-size: 3vw; /* Adjust font size for smaller screens */
  }
}

@media screen and (max-width: 576px) {
  .carousel-slide h1 {
    font-size: 2vw; /* Further adjust font size for even smaller screens */
  }
}

/*End tessa carousel*/