* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

.nav-bar {
  background: #223030;
  color: #223030; /* Change text color to white */
  display: flex;
  justify-content: space-between; /* To align logo and circles at the ends */
  align-items: center; /* To vertically center everything */
  position: fixed;
  top: 0;
  left: 0; /* Set to 0 to make it full width */
  right: 0; /* Set to 0 to make it full width */
  padding: 10px 20px; /* Add padding for better spacing */
}

img {
  width: 125px;
  height: 125px;
  border-radius: 50%;
}

.allCircles {
  display: flex;
  align-items: center; /* Vertically center the circles */
  gap: 20px; /* Add spacing between circles */

}

.circleBase {
  border-radius: 50%;
  font-size: 18px;
  width: 125px;
  height: 125px;
  background: #EFEFE9;
  border: 1px solid #E8D9CD;
  display: flex;
  flex-direction: column;
  align-items: center; /* Center text horizontally */
  justify-content: center; /* Center text vertically */
  position: relative; /* Add relative positioning for .teamleden */
}

/*teamleden displayen als je hovert*/

.teamleden {
  display: none;
  text-align: center;
  font-size: 12px;
  position: absolute;
  left: 0;
  right: 0;
}

p:hover + .teamleden{
    display: block;

}

.allCircles p:hover{
  display:none;
  
}


  /*this shows the circles in mobile*/
@media screen and (max-width:768px) {
  
  img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
  
  .allCircles {
    gap: 2px;
  }
  .circleBase { width: 50px;
    height: 50px;
    font-size: 7px;
  }

  .teamleden {font-size: 7px;

  }
}
